<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-button size="small" slot="end" (click)="closeModal()">Close</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <table style="width: 100%;">
      <tbody style="text-align: center;">
        <tr>
          <td>
            <img src="{{avatar}}" alt="">
          </td>
        </tr>
        <tr>
          <td>
            <p>ID:  {{id}}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Name:  {{firstName}} {{lastName}}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>E-mail:  {{email}}</p>
          </td>
        </tr>
        <tr>
          <td>
            <ion-button (click)="takeSnap()">
              Take Snap
            </ion-button>
          </td>
        </tr>
        <tr>
          <td>
            <img [src]="capturedSnapURL" style="height: auto; width: 3rem;"/>
          </td>
        </tr>
      </tbody>
    </table>
  </ion-item>
</ion-content>