<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-searchbar (ionInput)="filterData($event)"></ion-searchbar>
  </ion-toolbar>
  <ion-list ng-bind="items" *ngFor="let item of result">
    <ion-item (click)="openModal(item)">
      <p style="margin-right: 1.5rem;">{{ item.id }}</p>
      <img src='{{item.avatar}}' alt="" style="max-height: auto; max-width: 2rem;margin-right: 2.5rem;">
      <p><span ng-bind="firstname">{{item.first_name}} </span><span ng-bind="lastname">{{item.last_name}}
        </span><br /><span ng-bind="email">{{item.email}}</span></p>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col size="2" class="ion-text-end" style="margin-top: 0.7rem;">
      {{ page }} of {{ totalPages }}
    </ion-col>
    <ion-col size="6"></ion-col>
    <ion-col size="2" class="text-align-end">
      <ion-button fill="clear" (click)="goFirst()">
        <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button fill="clear" (click)="goLast()">
        <ion-icon name="chevron-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>